
<%= form_for (@band) do |f| %>
  <div>
    <%= f.label :name, "Band Name" %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :biography %>
    <%= f.text_field :biography %>
  </div>
  
  <%= f.submit "Add Local Band"%>
<%end%>