<!DOCTYPE html>
<html>
<head>
  <title>RailsStaffGroupProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
   <div class="top-bar">
      <div class="top-bar-left">
       <!-- <ul class="menu"> -->
          <span class="menu-text"><%= link_to 'Bands', root_path %></span>
        <!-- </ul> -->
        <div class="top-bar-right">
          <% if signed_in? %>
            <!-- <ul class="dropdown menu" data-dropdown-menu> -->
              <span><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></span>
            <!-- </ul> -->
          <% else %>
            <!-- <ul class="menu"> -->
              <span><%= link_to "Sign In", new_user_session_path %></span>
              <span><%= link_to "Sign Up", new_user_registration_path %></span>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
